<div class="control-group ">
  <div class="region-wrapper">
    <div class="region-label">{{i18n.map.res_SignInRegion}}</div>
    <div class="toggle-btn-group">
      <label ng-repeat="region in regions" class="toggle-btn" ng-class="{'selected': currentRegion === region.id}" ng-click="goToRegionServer(region.id, 'main-view')">{{region.name}}</label>
    </div>
  </div>
</div>
<form ng-cloak name="form.find" class="form-horizontal" novalidate>
  <div class="control-group ">
    <div class="input-wrapper">
      <autocomplete placeholder="{{i18n.res_From}}"
                       pause="100"
                       selectedobject="originAirport"
                       localdata="airports"
                       searchfields="name"
                       titlefield="name"
                       minlength="2"/>
    </div>
  </div>
  <div class="control-group ">
    <div class="input-wrapper">
      <autocomplete placeholder="{{i18n.res_To}}"
                       pause="100"
                       selectedobject="destinationAirport"
                       localdata="airports"
                       searchfields="name"
                       titlefield="name"
                       minlength="2"/>
    </div>
  </div>
  <div class="control-group ">
    <div class="input-wrapper">
      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="departingOn" is-open="$parent.depOpened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event, 'depOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>
  </div>

  <div class="control-group ">
    <div class="input-wrapper">
      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="returningOn" is-open="$parent.retOpened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event, 'retOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>
  </div>

  <div class="control-group ">
    <div class="input-wrapper">
      <button class="button" ng-click="submitSearch()">{{i18n.res_Search}}</button>
      <div ng-if="inProgress" class="spinner"></div>
    </div>
  </div>
</form>