<span class="no-results" ng-if="results.length === 0">{{i18n.res_NoResultsFound}}</span>
<div ng-repeat="result in results">
  <div>
    <span>{{result.outbound.airportFrom.name}}</span>
    <span>To</span>
    <span>{{result.outbound.airportTo.name}}</span>
  </div>
  <div>
    <span>{{result.outbound.price.value}}</span><span>{{result.outbound.price.currencySymbol}}</span>
  </div>
  <div>
    <span>{{i18n.res_Departure}}</span>
    <span>{{result.outbound.dateFrom  | date:"MM/dd/yyyy 'at' h:mma Z"}}</span>
  </div>
  <div>
    <span>{{i18n.res_Arrival}}</span>
    <span>{{result.outbound.dateTo | date:"MM/dd/yyyy 'at' h:mma Z"}}</span>
  </div>
  <hr class="solid black">
</div>

<button class="button" ng-click="go('/')">{{i18n.res_NewSearch}}</button>
