/* Smartphones and ipad (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  body {
    overflow: visible;
  }
  body section {
    overflow: visible;
    height: auto;
    min-height: 100%;
  }
  .main-view .inner {
    margin: 27px 0px;
    width: calc(100% - 40px);;
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
}
/* Desktops, laptops and ipads ----------- */
@media only screen and (min-device-width: 481px) {
  body {
    background-repeat: repeat;
  }
  body section {
    overflow: visible;
    height: auto;
    min-height: 100%;
  }
  .main-view .inner {
    margin: 60px 20px 60px 20px;
    width: 320px;
  }
  .main-view .inner .control-group {
    width: 250px;
  }
}
@media only screen and (max-device-width: 480px) {
  body {
    height: auto;
  }
}
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}
.flex-column {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.white-drop-shadow {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
}
.black-drop-shadow {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
.green-drop-shadow {
  text-shadow: 0px 0px 1px rgba(0, 100, 0, 0.5);
}
body {
  margin: 0;
  font-family: OpenSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #2a3136;
  background-color: #cdcdcd;
}
body,
html {
  height: 100%;
  overflow: hidden;
}
.flex-column {
  flex-direction: column;
}
body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main-view {
  background-color: #555555;
  background-image: -moz-linear-gradient(top, #a9a9a9, #646464);
  background-image: -ms-linear-gradient(top, #a9a9a9, #646464);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a9a9a9), to(#646464));
  background-image: -webkit-linear-gradient(top, #a9a9a9, #646464);
  background-image: -o-linear-gradient(top, #a9a9a9, #646464);
  background-image: linear-gradient(top, #a9a9a9, #646464);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9a9a9', endColorstr='#646464', GradientType=0);
}
.main-view .inner .control-group {
  margin-bottom: 10px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.main-view .inner .control-group .text-center {
  text-align: center;
}
.main-view .inner .control-group .region-wrapper {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.main-view .inner .control-group .region-wrapper .region-label {
  font-size: 13px;
  line-height: 19px;
  color: grey;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media screen and (min-width: 1201px) {
  
}
.main-view .inner .control-group .region-wrapper .toggle-btn-group {
  margin-left: 10px;
}
.main-view .inner .control-group .input-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}
.main-view .inner .control-group.buttons-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-box-pack: justify;
  box-pack: justify;
  -ms-flex-pack: justify;
}
.main-view .inner .control-group button {
  flex-shrink: 0;
}
.main-view .no-results {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
}
@media screen and (min-width: 1201px) {
  
}
section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1 auto;
  -moz-box-flex: 1 auto;
  -ms-box-flex: 1 auto;
  box-flex: 1 auto;
  -webkit-flex: 1 auto;
  -moz-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  height: 100%;
}
.main-view {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex: 1 0 auto;
  -ms-box-flex: 1 0 auto;
  box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -ms-flex-pack: center;
}
.main-view .inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-align-self: flex-start;
  align-self: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  min-width: 240px;
  max-width: 320px;
}
.main-view .inner .message {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 370px;
  text-align: center;
  font-size: 13px;
  line-height: 19px;
  color: light-grey;
}
@media screen and (min-width: 1201px) {
  
}
.main-view .inner .message .bold,
.main-view .inner .message.bold {
  color: #2a3136;
  font-size: 13px;
  line-height: 19px;
}
@media screen and (min-width: 1201px) {
  
}
header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  background-color: #2a3136;
}
header .inner-header {
  padding-top: 10px;
}
header .inner-header .logo {
  margin: 0px 0 0 20px;
}
header div > hr {
  margin: 10px 0 0 0;
  border-bottom: 1px solid #525459;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}
header .title-bar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 55px;
}
header .title-bar .title-text {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 13px;
  line-height: 19px;
  color: lightgray;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  background: #2a3136;
}
@media screen and (min-width: 1201px) {
  
}
footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}
footer .inner {
  background-color: #2a3136;
  padding-left: 55px;
  padding-right: 55px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 115px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
footer .inner .product-description {
  font-size: 14px;
  line-height: 19px;
  color: white;
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex: 1 0 auto;
  -ms-box-flex: 1 0 auto;
  box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
@media screen and (min-width: 1201px) {
  
}
footer .inner .product-description .product-name {
  font-weight: bold;
}
.gradient {
  background-color: rgba(0, 0, 0, 0.12);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0.2)', endColorstr='rgba(0, 0, 0, 0)', GradientType=0);
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.hover-gradient {
  background-color: rgba(0, 0, 0, 0);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='rgba(0, 0, 0, 0)', GradientType=0);
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-transition-property: background-image background;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-delay: 0;
}
.hover-gradient:hover {
  background-color: rgba(0, 0, 0, 0.06);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0.1)', endColorstr='rgba(0, 0, 0, 0)', GradientType=0);
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.feed-gradient {
  background: -webkit-linear-gradient(top, #dadada, #ffffff 20px);
}
.inactive-editor-gradient {
  background: -webkit-linear-gradient(top, #dadada, #f0f0f0 20px);
}
.panel {
  background: white;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.hidden {
  display: none !important;
}
.error {
  color: red;
}
#listview-container .search-filter,
#listview-container .tab-bar {
  height: auto;
}
.showBar {
  -webkit-animation: animateInItem 0.5s;
  -webkit-animation-timing-function: ease-in-out;
}
body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main-view {
  background-color: #555555;
  background-image: -moz-linear-gradient(top, #a9a9a9, #646464);
  background-image: -ms-linear-gradient(top, #a9a9a9, #646464);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a9a9a9), to(#646464));
  background-image: -webkit-linear-gradient(top, #a9a9a9, #646464);
  background-image: -o-linear-gradient(top, #a9a9a9, #646464);
  background-image: linear-gradient(top, #a9a9a9, #646464);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9a9a9', endColorstr='#646464', GradientType=0);
}
.main-view .inner .control-group {
  margin-bottom: 10px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.main-view .inner .control-group .text-center {
  text-align: center;
}
.main-view .inner .control-group .region-wrapper {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.main-view .inner .control-group .region-wrapper .region-label {
  font-size: 13px;
  line-height: 19px;
  color: grey;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media screen and (min-width: 1201px) {
  
}
.main-view .inner .control-group .region-wrapper .toggle-btn-group {
  margin-left: 10px;
}
.main-view .inner .control-group .input-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}
.main-view .inner .control-group.buttons-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-box-pack: justify;
  box-pack: justify;
  -ms-flex-pack: justify;
}
.main-view .inner .control-group button {
  flex-shrink: 0;
}
.main-view .no-results {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
}
@media screen and (min-width: 1201px) {
  
}
section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1 auto;
  -moz-box-flex: 1 auto;
  -ms-box-flex: 1 auto;
  box-flex: 1 auto;
  -webkit-flex: 1 auto;
  -moz-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  height: 100%;
}
.main-view {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex: 1 0 auto;
  -moz-box-flex: 1 0 auto;
  -ms-box-flex: 1 0 auto;
  box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -ms-flex-pack: center;
}
.main-view .inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-align-self: flex-start;
  align-self: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  min-width: 240px;
  max-width: 320px;
}
.main-view .inner .message {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 370px;
  text-align: center;
  font-size: 13px;
  line-height: 19px;
  color: light-grey;
}
@media screen and (min-width: 1201px) {
  
}
.main-view .inner .message .bold,
.main-view .inner .message.bold {
  color: #2a3136;
  font-size: 13px;
  line-height: 19px;
}
@media screen and (min-width: 1201px) {
  
}
.button {
  width: 100%;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  font-size: 13px;
  line-height: 19px;
  min-width: 80px;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  color: white;
  text-shadow: 0px 0px 1px rgba(0, 100, 0, 0.5);
  background-color: #8cc646;
  background-image: -moz-linear-gradient(top, #8cc646, #7eb944);
  background-image: -ms-linear-gradient(top, #8cc646, #7eb944);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8cc646), to(#7eb944));
  background-image: -webkit-linear-gradient(top, #8cc646, #7eb944);
  background-image: -o-linear-gradient(top, #8cc646, #7eb944);
  background-image: linear-gradient(top, #8cc646, #7eb944);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cc646', endColorstr='#7eb944', GradientType=0);
  border: 1px solid rgba(73, 112, 52, 0.6);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1201px) {
  
}
.button:active {
  border: 1px solid rgba(73, 112, 52, 0.8);
}
.button.disabled {
  pointer-events: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.06), rgba(0, 0, 0, 0.06));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.06), rgba(0, 0, 0, 0.06));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.06)), to(rgba(0, 0, 0, 0.06)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.06), rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.06), rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.06), rgba(0, 0, 0, 0.06));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 0.06)', endColorstr='rgba(0, 0, 0, 0.06)', GradientType=0);
  color: lightgray;
  text-align: center;
}
.button.disabled:hover,
.button.disabled:focus {
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.06), rgba(0, 0, 0, 0.06));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.06), rgba(0, 0, 0, 0.06));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.06)), to(rgba(0, 0, 0, 0.06)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.06), rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.06), rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.06), rgba(0, 0, 0, 0.06));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 0.06)', endColorstr='rgba(0, 0, 0, 0.06)', GradientType=0);
}
.button:hover,
.button:focus {
  background-color: #8fce44;
  background-image: -moz-linear-gradient(top, #8fce44, #88cd48);
  background-image: -ms-linear-gradient(top, #8fce44, #88cd48);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8fce44), to(#88cd48));
  background-image: -webkit-linear-gradient(top, #8fce44, #88cd48);
  background-image: -o-linear-gradient(top, #8fce44, #88cd48);
  background-image: linear-gradient(top, #8fce44, #88cd48);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8fce44', endColorstr='#88cd48', GradientType=0);
  cursor: pointer;
}
.button:active {
  background-color: #72a73c;
  background-image: -moz-linear-gradient(top, #72a73c, #8ac345);
  background-image: -ms-linear-gradient(top, #72a73c, #8ac345);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#72a73c), to(#8ac345));
  background-image: -webkit-linear-gradient(top, #72a73c, #8ac345);
  background-image: -o-linear-gradient(top, #72a73c, #8ac345);
  background-image: linear-gradient(top, #72a73c, #8ac345);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72a73c', endColorstr='#8ac345', GradientType=0);
}
autocomplete {
  width: 100%;
}
autocomplete .autocomplete-holder {
  position: relative;
}
autocomplete .autocomplete-dropdown {
  border-color: #ececec;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  width: 250px;
  padding: 6px;
  cursor: pointer;
  z-index: 9999;
  position: absolute;
  margin-top: -6px;
  background-color: #ffffff;
}
autocomplete .autocomplete-searching {
  color: #acacac;
  font-size: 14px;
}
autocomplete .autocomplete-description {
  font-size: 14px;
}
autocomplete .autocomplete-row {
  padding: 5px;
  color: #000000;
  margin-bottom: 4px;
}
autocomplete .autocomplete-selected-row,
autocomplete .autocomplete-row:hover {
  background-color: lightblue;
  color: #ffffff;
}
autocomplete .autocomplete-image-holder {
  padding-top: 2px;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
}
autocomplete .autocomplete-image {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border-color: #ececec;
  border-style: solid;
  border-width: 1px;
}
autocomplete .autocomplete-image-default {
  background-position: center;
  background-size: contain;
  height: 34px;
  width: 34px;
}
.spinner {
  background-color: #8cc646;
  margin: 3px 0 0 10px;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.spinner,
.spinner:after {
  border-radius: 50%;
  width: 5px;
  height: 5px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
