<div class="autocomplete-holder">
  <input ng-model="searchStr" type="text" placeholder="{{placeholder}}" class="form-control" onmouseup="this.select();" ng-focus="resetHideResults()" ng-blur="hideResults()" required/>
  <div class="autocomplete-dropdown" ng-if="showDropdown">
    <div class="autocomplete-searching" ng-show="searching">{{i18n.res_Searching}}...</div>
    <div class="autocomplete-searching" ng-show="!searching && (!results || results.length == 0)">{{i18n.res_NoResultsFound}}</div>
    <div class="autocomplete-row" ng-repeat="result in results" ng-mousedown="selectResult(result)" ng-mouseover="hoverRow()" ng-class="{'autocomplete-selected-row': $index == currentIndex}">
      <div class="autocomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
      <div class="autocomplete-title" ng-if="!matchClass">{{ result.title }}</div>
    </div>
  </div>
</div>