<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="en" ng-app="ryanAirTestApp" ng-controller="AppCtrl">
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.min.css">
    <title>{{i18n.res_CheapFlightFinder}}</title>

  </head>

  <body ng-cloak>
    <section>
      <header>
        <div class="title-bar">
          <div class="title-text">{{i18n.res_CheapFlights}}
          </div>
        </div>
      </header>
      <div class="main-view">
        <div class="inner" ng-view></div>
      </div>
      <footer>
        <div class="inner">
          <div class="product-description">
            <span class="product-name">{{i18n.res_RyanAir}}</span>
            <span>{{i18n.res_Finder}}</span>
          </div>
        </div>
      </footer>
    </section>

    <!-- build:js js/app-name.min.js
    <script type="text/javascript" src="lib/angular.js"></script>
    <script type="text/javascript" src="lib/angular-route.js"></script>
    <script type="text/javascript" src="lib/ui-bootstrap-tpls-0.13.0.js"></script>
    <script type="text/javascript" src="lib/less.js"></script>
    <script type="text/javascript" src="js/common/utils.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/services/localizeSvc.js"></script>
    <script type="text/javascript" src="js/services/pubSubSvc.js"></script>
    <script type="text/javascript" src="js/services/dataSvc.js"></script>
    <script type="text/javascript" src="js/directives/autocomplete.js"></script>
    <script type="text/javascript" src="js/controllers/appCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/findViewCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/resultsViewCtrl.js"></script>-->
    <!-- endbuild -->

    <script type="text/javascript" src="dist/js/app-name.min.js"></script>
  </body>
</html>