@button-padding-top-large: 4.5px;
@button-padding-bottom-large: 4.5px;

.button {
  width: 100%;
  border: none;
  .border-radius(3px);
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  .text-h3;
  min-width: 80px;
  padding-top: @button-padding-top-large;
  padding-bottom: @button-padding-bottom-large;
  color: white;;
  .green-drop-shadow;
  .linear-gradient(@startColor: #8cc646, @endColor: #7eb944, @fallbackSolidColor: #8cc646);
  border: 1px solid fade(@darkGreen, 60%);
  .box-shadow(0px 1px 0px 0px fade(white, 60%));
  &:active {
    border: 1px solid fade(@darkGreen, 80%);
  }
  &.disabled {
    pointer-events: none;
    border: 1px solid fade(black, 15%);
    .linear-gradient(@startColor: fade(white, 6%), @endColor: fade(black, 6%), @fallbackSolidColor: white);
    color: lightgray;
    text-align: center;
    &:hover, &:focus {
      .linear-gradient(@startColor: fade(white, 6%), @endColor: fade(black, 6%), @fallbackSolidColor: white);
    }
  }
  &:hover, &:focus {
    .linear-gradient(@startColor: #8fce44, @endColor: #88cd48, @fallbackSolidColor: #8fce44);
    cursor: pointer;
  }
  &:active {
    .linear-gradient(@startColor: #72a73c, @endColor: #8ac345, @fallbackSolidColor: #72a73c);
  }
}