.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}

.flex-column {
      -webkit-box-orient: vertical;
         -moz-box-orient: vertical;
          -ms-box-orient: vertical;
              box-orient: vertical;
  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align-items(@align: stretch) {
    -webkit-box-align: @align;
       -moz-box-align: @align;
       -ms-flex-align: @align;
        -ms-box-align: @align;
            box-align: @align;
  -webkit-align-items: @align;
     -moz-align-items: @align;
      -ms-align-items: @align;
          align-items: @align;
}

.flex(@values: 1 auto) {
  -webkit-box-flex: @values;
     -moz-box-flex: @values;
      -ms-box-flex: @values;
          box-flex: @values;
      -webkit-flex: @values;
         -moz-flex: @values;
          -ms-flex: @values;
              flex: @values;
}

// flex-start | flex-end | center | space-between | space-around
.justify-content(@justify: flex-start) {
  -webkit-justify-content: @justify;
     -moz-justify-content: @justify;
      -ms-justify-content: @justify;
          justify-content: @justify;
}
// start | center | end | justify | distribute
.ms-justify-content(@justify: start) {
  -webkit-box-pack: @justify;
     -moz-box-pack: @justify;
      -ms-box-pack: @justify;
          box-pack: @justify;
     -ms-flex-pack: @justify;
}

.flex-shrink(@shrink: 1) {
  -webkit-flex-shrink: @shrink;
     -moz-flex-shrink: @shrink;
      -ms-flex-shrink: @shrink;
          flex-shrink: @shrink;
}
.flex-grow(@grow: 1) {
  -webkit-flex-grow: @grow;
     -moz-flex-grow: @grow;
      -ms-flex-grow: @grow;
          flex-grow: @grow;
}

// auto | flex-start | flex-end | center | baseline | stretch
.align-self(@align: center) {
  -webkit-align-self: @align;
     -moz-align-self: @align;
      -ms-align-self: @align;
          align-self: @align;
}

.flex-wrap(@wrap: wrap) {
  -webkit-flex-wrap: @wrap;
     -moz-flex-wrap: @wrap;
      -ms-flex-wrap: @wrap;
          flex-wrap: @wrap;
}