.text-subHeading-lg2(@scale: 0) {
  font-size: 16px;
  line-height: 20px;
  @media screen and (min-width: 1201px) {
    .scale-text(16, 20, @scale);
  }
}
.text-subHeading(@scale: 0) {
  font-size: 14px;
  line-height: 19px;
  @media screen and (min-width: 1201px) {
    .scale-text(14, 19, @scale);
  }
}

.text-h2(@scale: 0) {
  font-size: 13px;
  line-height: 19px;
  @media screen and (min-width: 1201px) {
    .scale-text(13, 19, @scale);
  }
}
.text-h3(@scale: 0) {
  font-size: 13px;
  line-height: 19px;
  @media screen and (min-width: 1201px) {
    .scale-text(13, 19, @scale);
  }
}
.text-standard(@scale: 0) {
  font-size: 13px;
  line-height: 19px;
  @media screen and (min-width: 1201px) {
    .scale-text(13, 19, @scale);
  }
}


.white-drop-shadow {
  text-shadow: 0px 1px 0px fade(white, 80%);
}

.black-drop-shadow {
  text-shadow: 0px -1px 0px fade(black, 30%);
}

.green-drop-shadow {
  text-shadow: 0px 0px 1px fade(darkgreen, 50%);
}

//function for scaling text
.scale-text (@font-size, @line-height, @scale) when (@scale > 0) {
  line-height: ~'-webkit-calc(@{line-height}px + @{scale}px)';
  font-size: ~'-webkit-calc(@{font-size}px + @{scale}px)';
}