footer {
  .flexbox;
  .flex-column;
  .flex-shrink(0);
  .inner {
    background-color: #2a3136;
    padding-left: 55px;
    padding-right: 55px;
    .flexbox;
    .flex-wrap(wrap);
    height: 115px;
    .align-items(center);
    .product-description {
      .text-subHeading;
      color: white;;
      .flex(1 0 auto);
      .product-name {
        font-weight: bold;
      }
    }
  }
}
