header {
  .flexbox;
  .flex-column;
  .flex-shrink(0);
  background-color: #2a3136;
  .inner-header {
    padding-top: 10px;
    .logo {
      margin: 0px 0 0 20px;
    }
  }
  div >hr {
    margin: 10px 0 0 0;
    border-bottom: 1px solid #525459;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  .title-bar {
    .flexbox;
    height: 40px;
    border-bottom: 1px solid fade(black, 50%);
    padding: 0 55px;
    .title-text {
      .flexbox;
      .align-items(center);
      .flex(1);
      .text-h2;
      color: lightgray;
      .black-drop-shadow;
      background: #2a3136;
    }
  }
}