// LAYOUTS
// --------------
body {
  margin: 0;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: #2a3136;
  background-color: #cdcdcd;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

.flex-column {
  flex-direction: column;
}