section {
  .flexbox;
  .flex-column;
  .flex(1 auto);
  height: 100%;
}
.main-view {
  .flexbox;
  .flex( 1 0 auto);
  .justify-content(center);
  .ms-justify-content(center);
  .inner {
    .flexbox;
    .flex-column;
    .flex-wrap(wrap);
    .align-self(flex-start);
    .align-items(center);
    min-width: 240px;
    max-width: 320px;
    .message {
      .flexbox;
      align-content: center;
      .flex-wrap(wrap);
      .justify-content(center);
      .ms-justify-content(center);
      .flex-column;
      max-width: 370px;
      text-align: center;
      .text-h3;
      color: gray;
      .bold, &.bold {
        color: #2a3136;
        .text-h2;
      }
    }
  }
}