/* Smartphones and ipad (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
  body { //enable default mobile scrollbar
    overflow: visible;
    section {
      overflow: visible;
      height: auto;
      min-height: 100%;
    }
  }
  .main-view {
    .inner {
      margin: 27px 0px;
      width: ~"calc(100% - 40px);";
    }
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
}


/* Desktops, laptops and ipads ----------- */
@media only screen and (min-device-width : 481px) {
  body {
    //.scrollbar;
    //.bg-conversation-feed-texture;
    background-repeat: repeat;
    section {
      overflow: visible;
      height: auto;
      min-height: 100%;
    }
  }
  .main-view {
    //.scrollbar; //display scrollbar only for desktop, laptop
    .inner {
      margin: 60px 20px 60px 20px;
      width: 320px;
      .control-group {
        width: 250px;
      }
    }
  }
}

@media only screen and (max-device-width : 480px){
  body {
    height: auto;
  }
}
