body {
  .flexbox;
  .flex-column;
}
.main-view {
  .linear-gradient(#A9A9A9, #646464);
  .inner {
    .control-group {
      margin-bottom: 10px;
      .align-items(center);
      .text-center {
        text-align: center;
      }
      .region-wrapper {
        margin-bottom: 5px;
        .flexbox;
        .align-items(center);
        .region-label {
          .text-standard;
          color: grey;
          .flex(1);
        }

        .toggle-btn-group {
          margin-left: 10px;
        }
      }

      .input-wrapper {
        .flexbox;
      }
      &.buttons-wrapper {
        .flexbox;
        .justify-content(space-between);
        .ms-justify-content(justify);
      }
      button {
        flex-shrink: 0;
      }
    }
  }

  .no-results {
    margin-bottom: 20px;
    .text-subHeading-lg2;
  }
}

section {
  .flexbox;
  .flex-column;
  .flex(1 auto);
  height: 100%;
}
.main-view {
  .flexbox;
  .flex( 1 0 auto);
  .justify-content(center);
  .ms-justify-content(center);
  .inner {
    .flexbox;
    .flex-column;
    .flex-wrap(wrap);
    .align-self(flex-start);
    .align-items(center);
    min-width: 240px;
    max-width: 320px;
    .message {
      .flexbox;
      align-content: center;
      .flex-wrap(wrap);
      .justify-content(center);
      .ms-justify-content(center);
      .flex-column;
      max-width: 370px;
      text-align: center;
      .text-h3;
      color: light-grey;
      .bold, &.bold {
        color: #2a3136;
        .text-h2;
      }
    }
  }
}