@darkGreen:         #497034;
@green:             #88c541;
@grey:              #dadada;
@lightGrey:         #f0f0f0;
@lightRed:          #f92a32;
@linkLightGreen:    #afee5c;
@linkDarkGreen:     #2f7d00;
@blue:              #0094ff;
@orange:            #fe8900;
@mediumGrey:        #9a9a9f;
@darkBlue:          #374457;

// Responsive variables
//---------------------------------------
@scale-text: 0; //text-scales 0px after 1200px

// Typography
// -------------------------
@baseFontSize:          12px;
@baseFontFamily:        OpenSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
@baseLineHeight:        18px;